.btn-login {
    background-color: #d4af37;
    border: none;
    padding: 0.6rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block;
    margin-top: 1rem;
  }
  
  .btn-login span {
    color: #05391F;
    transition: color 0.3s ease;
  }
  
  .btn-login:hover span {
    color: #fdf6e3;
  }
  